<!-- header.html -->
<header>
  <div class="header-wrapper">
    <div class="header-left">
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </div>
    <div class="header-center">
      <h1 class="site-title">Girls Who Walk Preston</h1>
    </div>
    <button id="menu-toggle">&#9776;</button>
  </div>


  <nav id="nav-menu">
    <a href="index.html">Home</a>
    <a href="about.html">About Us</a>
    <a href="team.html">Our Team</a>
    <a href="events.html">Events</a>
    <a href="faq.html">FAQ</a>
    <a href="contact.html">Contact Us</a>
  </nav>
</header>